global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s

frontend zone_a_federation
    bind *:19091
    default_backend prometheus_zone_a

backend prometheus_zone_a
    server prometheus-zone-a prometheus-zone-a:9090 check

frontend zone_b_federation
    bind *:19092
    default_backend prometheus_zone_b

backend prometheus_zone_b
    server prometheus-zone-b prometheus-zone-b:9090 check

frontend zone_a_agent
    bind *:19100
    default_backend agent_zone_a

backend agent_zone_a
    server agent-zone-a agent-zone-a:9100 check

frontend zone_b_agent
    bind *:19101
    default_backend agent_zone_b

backend agent_zone_b
    server agent-zone-b agent-zone-b:9100 check

frontend zone_a_demo_app
    bind *:18081
    default_backend demo_app_zone_a

backend demo_app_zone_a
    server demo-app-zone-a demo-app-zone-a:8080 check

frontend zone_b_demo_app
    bind *:18082
    default_backend demo_app_zone_b

backend demo_app_zone_b
    server demo-app-zone-b demo-app-zone-b:8080 check

frontend logstash_ingest
    bind *:18080
    default_backend logstash_http

backend logstash_http
    server logstash logstash:8080 check
