global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s

frontend zone_a_federation
    bind *:19091
    default_backend prometheus_zone_a

backend prometheus_zone_a
    server prometheus-zone-a prometheus-zone-a:9090 check

frontend zone_b_federation
    bind *:19092
    default_backend prometheus_zone_b

backend prometheus_zone_b
    server prometheus-zone-b prometheus-zone-b:9090 check

frontend logstash_ingest
    bind *:18080
    default_backend logstash_http

backend logstash_http
    server logstash logstash:8080 check
